@page "/data"



<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth">
            <div class="row w-100">
                <div class="col-lg-6 mx-auto">
                    <div class="auth-form-light text-left p-5">
                        <h6>Data input page</h6>
                        <form class="pt-3">
                            
                            <div class="form-group">
                                <input type="text" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="123456789">
                            </div>
                           
                            <div class="form-group">
                                <input type="text" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="NGN(prepopulated)">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="LAWMA(prepopulated)" >
                            </div>
                            <div class="form-group">
                               <ul>
                                   <li>Refrence Status</li>
                                    <li>Amount Due </li>
                                    <li>Payer Name</li>
                                    <li>Agency name</li>
                                    <li>Revenue name</li>
                                    <li>status refrence</li>
                               </ul>
                            </div>
                            <div class="text-center mt-4 font-weight-light">
                                <a href="#" class="btn btn-primary">Post Reference</a>
                            </div>
                            <div class="form-group">
                                <ul>
                                    <li>pymt/bill ref</li>
                                    <li>Amount Due </li>
                                    <li>Amount to Pay</li>
                                    <li>Bank note</li>
                                </ul>
                            </div>
                            <div class="text-center mt-4 font-weight-light">
                                <a href="#" class="btn btn-primary">Next</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>

@code {

}
